body{
  width: 100vw;
}
nav{
  background-color: #EDEFEE;
}
.nav_section{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Karla', sans-serif;
}
.menu-items{
  display: flex;
  list-style: none;
  flex-direction: row;
}
.menu-items li{
  margin: 0 10px;
}
.menu-items li a{
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.menu-items li a:hover{
  border-bottom: 2px solid black;
}
.active{
  border-bottom: 2px solid black;
}
footer{
  background-color:#495E57;
}
.footer_section{
  width: 80%;
  margin: auto auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color:white;
}
.footer_section img{
  width:8rem;
  height: 12rem;
}
.footer-menu{
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: flex-start;
}
.footer-menu h4{
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.footer-menu div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.footer-menu div ul{
  list-style: none;
}
.footer-menu div ul li{
  margin-bottom: 5px;
  font-size: 16px;
  font-family: 'Karla', sans-serif;
}
.footer-menu div ul li a{
  text-decoration: none;
  color: white;
}
.footer-menu div ul li a:hover{
  border-bottom: 2px solid #F4CE14;
}

.hero_section{
  padding:15px 20px;
  margin: 30px auto;
  color: white;
  background-color:#333333;
  height:350px;
}
.container{
  width:80%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  justify-items: center;
  margin: auto auto;
}
.hero-content{
  padding:0 25px;
  width: 55%;
}
.hero-content>h2{
  font-family: 'Karla', sans-serif;
  font-size: 40px;
  color: #F4CE14;
  margin:10px 0;
}
.hero-content>h3{
  font-size: 18px;
  font-family: 'Karla', sans-serif;
  font-weight: medium;
}
.hero-content>p{
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.5rem;
}
.booking-button{
  border: none;
  outline: none;
  padding: 15px 50px;
  border-radius: 25px;
  background-color: #F4CE14;
  color: #333333;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 2rem;
  cursor: pointer;
}
.hero-img{
  width: 300px;
  margin-right: 20rem;
}
@media screen and (max-width:1024px){
  .hero-img{
    margin:0;
    width: 250px;
  }
  .hero-content{
    width: 70%;
  }
  .booking-button{
    margin-top: 1rem;
  }
}

.card{
  width:280px;
  background-color: #E5E3E3;
  padding: 15px 20px;
  font-family: 'Karla', sans-serif;
  margin: 50px 10px;
}
.desc{
  font-size: 16px;
  font-weight: 300;
  text-indent: 15px;
}
.card-image{
  width: 100%;
  height:170px;
}
.item{
  font-size: 18px;
  font-weight: bold;
}
.item-price{
  color: red;
  float: right;
}
.card-bottom{
  font-weight: 500;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
}
.delivery-price{
  margin-left: 1rem;
}
.card-grid{
  margin: auto auto;
  width:75%;
  padding:0 30px;
  display: flex;
  justify-content: space-around;
}
.homepage-header{
  width: 80%;
  padding-top:100px;
  margin: auto auto;
  display: grid;
  grid-template-columns: 9fr 1fr;
}
.homepage-header>h2{
  font-family: 'Karla', sans-serif;
  font-size: 45px;
  font-weight: 500;
  margin: auto 0;
}
.order-button{
  height: 50px;
  margin: auto auto;
  width: 200px;
  margin-right: 1rem;
  color: white;
  outline: none;
  border: none;
  background-color: #333333;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}
.homepage-header>button:active{
  background-color: white;
  color: #333333;
  border: 1px solid #333333;
}
.testimonial{
  background-color: #E5E3E3;
  padding:5px 15px;
}
.testimonial>h1{
  text-align: center;
  font-size: 40px;
  font-family: 'Karla', sans-serif;
}
.testimonial-card{
  width:200px;
  background-color: white;
  padding: 15px 20px;
  font-family: 'Karla', sans-serif;
  margin: 50px 10px;
}
.testimonal-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}
.checked {
  color: orange;
}